<form action="/random/result">
  <div>
  <label for="input">Minimum </label>
  </div>
  <input id="input" type="text" placeholder="Mininum range" name="min">
  <div>

  <div>
  <label for="input">Maximum </label>
  </div>
  <input id="input" type="text" placeholder="Maximum range" name="max">
  <div>

  <button>Pick random number</button>
  </div>
</form>

