<form action="/random/result">
  <div>
  <label for="input_min">Minimum </label>
  </div>
  <input id="input_min" type="text" placeholder="Mininum range" name="min">
  <div>

  <div>
  <label for="input_max">Maximum </label>
  </div>
  <input id="input_max" type="text" placeholder="Maximum range" name="max">
  <div>

  <button>Pick random number</button>
  </div>
</form>
