
<form action="/square/result">
  <div>
  <label for="input_rand">Enter a number</label>
  </div>
  <input id="input_rand" type="text" placeholder="What number do you want to square?" name="number">
  <div>
  <button>Calculate square</button>
  </div>
</form>
