
<form action="/square_root/result">
  <div>
  <label for="input_sq">Enter a number</label>
  </div>
  <input id="input_sq" type="text" placeholder="What number do you want to calculate?" name="number">
  <div>
  <button>Calculate square root</button>
  </div>
</form>
